<button (click)="logout()">logout</button>

<form (ngSubmit)="login()" [formGroup]="form">

  <input [formControl]="form.controls.username" placeholder="username"/>
  <input [formControl]="form.controls.password" placeholder="password"/>
  <div>
    <input [formControl]="form.controls.rememberMe" id="remember-me" type="checkbox">
    <label for="remember-me">Remember me</label>
  </div>
  <button>send</button>

</form>
