<p>products works!</p>
<p *ngIf="selectedId">
  selected product Id: {{ selectedId }}
</p>

<div *ngIf="products.length">
  <div *ngFor="let product of products">
    <app-product (selectedProduct)="catchSelectedProductId($event)"
                 [product]="product"></app-product>
  </div>
</div>

<p *ngIf="productLoading">
  loading... please wait...
</p>
