<app-products></app-products>
<app-login></app-login>

<p>logged user: {{ userData?.firstName }} {{ userData?.lastName }}</p>
<p *ngIf="hasAdminRole">for admin</p>
<p *ngIf="hasClientRole">for client</p>
<p *ngIf="hasManagerRole">for manager</p>
